body { font-family: Arial, Helvetica, sans-serif; 
    color: #222; }

.emoji { border: 1px solid #222; 
    border-radius: 8px; 
    padding: 1rem; }

.emoji h2 { margin: 0;
     border-bottom: 2px solid #ccc; 
     text-align:left; 
     margin-top: 1rem; 
     position:relative;  top:60px;}

.emoji a { text-decoration: none; 
    background-color: #781BAA;
     color: white; 
     padding: 1rem; 
     border-radius: 8px; 
     display: block; 
     width: 98%;
     position:relative; left:-13px; }

.icon { font-size: 4rem; 
    display: block; 
    margin: 0 auto;  position:relative; left:185px; top:-50px;}

.emojis { display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    grid-template-areas: "a b" "c d"; 
    grid-gap: 10px; 
    align-items: flex-end; 
    width: 60%; position:relative; left:200px; top:2px;}

.emoji:nth-child(1) { grid-area: a; }

.emoji:nth-child(2) { grid-area: b; }

.emoji:nth-child(3) { grid-area: c; }

.emoji:nth-child(4) { grid-area: d; }

.par { /* Use a more descriptive variable for the border color / --border-color: #FF3737; / A more vibrant red */ border: 1px solid var(--border-color); 
    padding: 20px; display: flex; 
    flex-direction: column; 
    align-items: flex-end; }

.box { /* Use a more descriptive variable for the border color / --border-color: #333; / A darker black */ padding: 20px; 
    border: 1px solid var(--border-color); 
    text-align: center; }

